<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>fullDriverList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)"
    [routerLink]="['/driver-detail', item]">
      

      <ion-label text-wrap>
        <h3>{{item.givenName}}</h3>
        <h4><b>Release date:</b> {{item.dateOfBirth}}</h4>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>