<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      F1 Driver Companion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">F1 Driver Companion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>      
      <ion-button (click)="toAllDriversPage()" expand="block" size="4">My List</ion-button>      
    </ion-item>
    <ion-item>     
      <ion-button (click)="toMyListPage()" expand="block" size="4">All Drivers</ion-button>
    </ion-item>
    
  </div>
</ion-content>
